Monsieur,

<p>Je vous contacte au sujet d'un mail non sollicité. Je me suis inscrit sur votre 
site {{site}} {% if date %} le {{regster_date}} {% endif %} en spécificiant bien{% if screenshot %}, comme le 
l'indique la capture d'écran jointe à ce mail, {% endif %} que je m'opposais à 
toute prospection de votre part, qu'elle soit commerciale on non. Cependant, en infraction à <a href="https://www.legifrance.gouv.fr/affichCodeArticle.do?cidTexte=LEGITEXT000006070987&idArticle=LEGIARTI000006465785&dateTexte=&categorieLien=cid">
l'article L34-5</a> du code des postes et des communications électroniques, vous avez envoyé un mail à
l'adresse {{ mail }} qui avait été crée pour l'occasion et n'a été utilisée qu'une unique fois : lors de l'inscription
sur {{site}}.</p>

<p>
Par conséquent, je vous demande de me transmettre, conformément à l'article 39 de la loi informatique et libertés, l'ensemble 
des données qui me concernent sous une forme accessible, de même que toute information permettant de connaitre la logique qui
sous-tend le traitement automatisé dont j'ai fait l'objet ainsi que le numéro de déclaration de votre fichier de prospects 
auprès de la CNIL.
</p>

<p>
Cependant, si le mail n'a pas été envoyé par vos services, sachez alors que vous ou l'un de vos sous-traitant êtes 
victime d'une intrusion frauduleuse dans votre système de traitement automatisé de données et que votre bases de données 
de prospects a été dérobée. Dans ce cas, je vous demande de me communiquer les mesures que vous avez prises pour 
assurer la  protection des données, conformément à l'article 34 de la loin informatique et libertés, et je vous invite à
porter plainte. Je me porterai partie civile et tiendrai à disposition de la justice tous les éléments démontrant 
que l'adresse mail incriminée était unique et que par conséquent vous avez effectivement été victime d'un vol.
</p>

<p>
Enfin sachez que dans le cadre de cette démarche, je me réserve la possibilité de transmettre à la justice ou
de publier l'intégralité de nos échanges.
</p>

<p>
Dans l'attente de votre réponse,
</p>

<p>
Alexandre Bonnasseau
</p>

